# Supabase
SUPABASE_URL=https://qgisplqcbtepxkeeoyfj.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFnaXNwbHFjYnRlcHhrZWVveWZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU5Njc2MywiZXhwIjoyMDkwMTcyNzYzfQ._jIoX0vjNgvCJv0OUus6KRyfFC_3hij108B4bnmT8Kg

# Redis / Celery
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# CORS
FRONTEND_URL=http://localhost:3000

# App
UPLOAD_DIR=./temp
MAX_FILE_SIZE_MB=100
